#value {
   font-size:42px;
   color:red;
 }

.button {
  font-size:0px;
  width:310px;
  height:210px;
  margin-left: 20px;
  margin-top: 10px;
  float:left;
  background: transparent;
  border: none !important;
}

.upgrades {
  font-size:20px;
  width:200px;
  height:50px;
}

.spinner {
  width: 280px;
  height: 180px;
  float: left;
  padding-top: -500px;
}

#Dstats {
  float:right;
  margin-right: 50px;
}

#stats {
  float:right;
  margin-right: 150px;
  font-size: 18px;
}

p {
  font-size:32px;
}

 body {
   background-color: grey;
 }

 #center {
   margin-left:100px;
   float:left;
 }

 /*Spinner animator */

 #spinn {
     background-image: url("img/spinner.gif");
 }
